{% extends "base.html.twig" %}
{% block title %}
	Presentation
{% endblock %}

{% block Rtitle %}
	Presentation
{% endblock %}


{% block content %}

	<section>
<nav>
	<ul>
		<li>
			<a href={{ asset('./') }}>Presentation</a>
		</li>
		<li>
			<a href={{ asset('./about') }}>About</a>
		</li>
		<li>
			<a href={{ asset('./report') }}>report</a>
		</li>
		<li>
			<a href={{ asset('./card') }}>Card</a>
		</li>
		<hr>
	</ul>
</nav>


		<article>
				<h1>{{ title }}</h1>
			<h1>Players card</h1>
			<div class="container">

				{% for player in allPlayers %}
					<div class="player">
						{{player.name}}
						{% for item in player.playerCards %}
							{% for i in item %}
							<div class="card">


								{% if i.suit == "&hearts;" %}
									<p>{{i.rank}}</p>

									<p>&#10084;&#65039;</p>


								{% endif %}

								{% if i.suit == "&diams;" %}

									<p>&diams;{{i.rank}}</p>

								{% endif %}

								{% if i.suit == "&clubs;" %}


									<p>&clubs;{{i.rank}}</p>


								{% endif %}

								{% if i.suit == "&spades;" %}

									<p>&spades;{{i.rank}}</p>

								{% endif %}

										</div>
										{% endfor %}	
									{% endfor %}
								</div>
							{% endfor %}
<hr>

		<div class="player">
<h1>Kort Kvar</h1>

		{% for i in theRest %}
		<div class="card">
		{% if i.suit == "&hearts;" %}
		<p>{{i.rank}}</p>

		<p>&#10084;&#65039;</p>


	{% endif %}

	{% if i.suit == "&diams;" %}

		<p>&diams;{{i.rank}}</p>

	{% endif %}

	{% if i.suit == "&clubs;" %}


		<p>&clubs;{{i.rank}}</p>


	{% endif %}

	{% if i.suit == "&spades;" %}

		<p>&spades;{{i.rank}}</p>

	{% endif %}

</div>
			
		{% endfor %}

</div>
			</div>


		</article>
	</section>
{% endblock %}

