{% extends "base.html.twig" %}
{% block title %}
	Presentation
{% endblock %}

{% block Rtitle %}
	Presentation
{% endblock %}


{% block content %}

	<section>
<nav>
	<ul>
		<li>
			<a href={{ asset('./') }}>Presentation</a>
		</li>
		<li>
			<a href={{ asset('./about') }}>About</a>
		</li>
		<li>
			<a href={{ asset('./report') }}>Report</a>
		</li>
		<li>
			<a href={{ asset('./card') }}>Card</a>
		</li>
		<hr>
	</ul>
</nav>


		<article>
				<h1>{{ title }}</h1>
				<h2>Antal kort kvar {{countCardsLeft}}</h2>
			<div class="container">
				<form action={{asset("./card/deck/draw") }}>
					<label for="number">Antal kort:</label><br>
					<input name="number" type="number" id="number" min="0" max={{countCardsLeft}} value="1"><br><br>
					<input type="submit" value="Submit">
				</form>
{% for item in onecard %}

{% for i in item %}
	
	<div class="card">

		{% if i.suit == "&hearts;" %}
			<p>{{i.rank}}</p>

			<p>&#10084;&#65039;</p>


		{% endif %}

		{% if i.suit == "&diams;" %}

			<p>&diams;{{i.rank}}</p>

		{% endif %}

		{% if i.suit == "&clubs;" %}


			<p>&clubs;{{i.rank}}</p>


		{% endif %}

		{% if i.suit == "&spades;" %}

			<p>&spades;{{i.rank}}</p>

		{% endif %}

	</div>

{% endfor %}
{% endfor %}


			</div>



	</article>
</section>{% endblock %}

