{% extends "base.html.twig" %}
{% block title %}
Cards undersidor

{% endblock %}

{% block Rtitle %}
Cards undersidor

{% endblock %}


{% block content %}


		<article>
				<h1>{{ title }}</h1>
			<div class="container">
				<ul>
					<li><a href= {{ asset('./card/deck') }}>card/deck</a></li>
					<li><a href={{ asset('./card/deck/shuffle') }}>card/deck/shuffle</a></li>
					<li><a href= {{ asset('./card/deck/draw') }}>card/deck/draw</a></li>
					<li><a href={{ path("deal", {'amountOfCards':"2",'amountOfPlayers':"1"} )}}>card/deck/deal/{}/{}</a></li>
					<li><a href= {{ asset('./card/deck2') }}>card/deck2</a></li>
					<li><a href= {{ asset('./card/api/deck') }}>card/api/deck</a></li>
				</ul>
			
			</div>

		</article>
{% endblock %}

