{% extends "base.html.twig" %}
{% block title %}
Cards undersidor

{% endblock %}

{% block Rtitle %}
Cards undersidor

{% endblock %}


{% block content %}

	<section>
		<nav>
			<ul>
				<li>
					<a href={{ asset('./') }}>Presentation</a>
				</li>
				<li>
					<a href={{ asset('./about') }}>About</a>
				</li>
				<li>
					<a href={{ asset('./report') }}>report</a>
				</li>
				<li>
					<a href={{ asset('./card') }}>Card</a>
				</li>
				<hr>
			</ul>
		</nav>

		<article>
				<h1>{{ title }}</h1>
			<div class="container">
				<ul>
					<li><a href= {{ asset('./card/deck') }}>card/deck</a></li>
					<li><a href={{ asset('./card/deck/shuffle') }}>card/deck/shuffle</a></li>
					<li><a href= {{ asset('./card/deck/draw') }}>card/deck/draw</a></li>
					<li><a href="./card/deck/draw/">Card</a></li>
				</ul>
			
			</div>

		</article>
	</section>
{% endblock %}

