{% extends "base.html.twig" %}
{% block title %}
Card

{% endblock %}

{% block Rtitle %}
Card

{% endblock %}


{% block content %}

		<article>
			<h1>{{ title }}</h1>
			<div class="container">
				{% for item in test %}
					<div class="card">

						{% if item.suit == "&hearts;" %}
						<p>{{item.rank}}</p>

						<p>&#10084;&#65039;</p>


						{% endif %}

						{% if item.suit == "&diams;" %}

						<p>&diams;{{item.rank}}</p>
						
						{% endif %}

						{% if item.suit == "&clubs;" %}


						<p>&clubs;{{item.rank}}</p>


						{% endif %}

						{% if item.suit == "&spades;" %}

						<p>&spades;{{item.rank}}</p>

						{% endif %}

					</div>

				{% endfor %}

			</div>
				

		</article>
{% endblock %}

