<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}{% endblock %}
        </title>
        <link href={{ asset('./styles/app2.css') }} rel="stylesheet"/>
        <linkrel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"/>
            {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <script defer src="https://friconix.com/cdn/friconix.js"></script>
	</head>
<body>

	<div class="header">
		<h1>Poker Solitaire</h1>
	</div>

	<div class="topnav">
		<a href={{ asset('./proj')}}>Start</a>
		<a href={{ asset('./proj/play')}}>Spela Poker Solitaire</a>
		<a href={{ asset('./proj/about')}} >Om</a>
		<a href={{ asset('./proj/reset')}} >Återställ Databas</a>
	</div>

	<div class="row">
		<div class="leftcolumn">
			<div class="card">
<h2>Om Projektet</h2>
				<h5>Title description, Maj 20, 2022</h5>
<div class="fakeimg" style="height:400px; color:black;">
<div style="max-width: 60em;">

				<p>Some text..</p>
				<p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
	</div>			
				</div>
			</div>
			<div class="card">
<h2>Om Dokumentation</h2>

<div class="fakeimg" style="height:400px; color:black;">

<div style="max-width: 60em;">

	<p>Some text..</p>
	<p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
</div>

</div>

			</div>
		</div>
		<div class="rightcolumn">
			<div class="card">
				<h2>Om</h2>
<div class="fakeimg" style="height:100px;">
	<table>
		<tr>
			<th>Spelar Namn</th>
			<th>Poäng</th>
		</tr>
		{% for item in json %}

			<tr>
				<td>{{item.playername}}</td>
				<td>{{item.points}}</td>
			</tr>
		{% endfor %}

	</table>
</div>
				<p>Some text about me in culpa qui officia deserunt mollit anim..</p>
			</div>
		</div>
	</div>

	<div class="footer">
<div style="flex: 1 1 0; width: 0px;    flex-direction: column;
display: flex; border-right: 1px solid white;">



<a style="color:white;" href={{ asset('./proj')}}>Start</a>

<a style="color:white;" href={{ asset('./proj/play')}}>Spela Poker Solitaire</a>

<a style="color:white;" href={{ asset('./proj/about')}}>Om</a>

<a style="color:white;" href={{ asset('./proj/reset')}}>Återställ Databas</a>




</div>
<div style="flex: 1 1 0; width: 0px;">
<div style="    display: flex;
		    text-align: center;
		    /* background: #040404; */
		    /* margin-top: 20px; */
		    align-items: center;
		    justify-content: center;
			flex-direction: column;
			border-right: 1px solid white;">



<div>

<a style="color:white;" href="https://github.com/dbwebb-se/mvc/">
	<i class="fi-xnsuxl-github fi-2x icon1"></i>
</a>
</div>
<p>Github</p>
<div>

<a style="color:white;" href="https://dbwebb.se/kurser/mvc">
	<i class="fi-cnluxl-home-small fi-2x icon2"></i>
</a>
</div>
<p>Dbwebb</p>

</div>



</div>
<div style="flex: 1 1 0; width: 0px;">

<p>Copyright &copy; Magnus</p>


</div>

	</div>

</body>

</html>
