<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}{% endblock %}
        </title>
        <link href={{ asset('./styles/app2.css') }} rel="stylesheet"/>
        <linkrel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"/>
            {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <script defer src="https://friconix.com/cdn/friconix.js"></script>
	</head>
<body>

	<div class="header">
		<h1>Poker Solitaire</h1>
	</div>

	<div class="topnav">
		<a href={{ asset('./proj')}}>Start</a>
		<a href={{ asset('./proj/play')}}>Spela Poker Solitaire</a>
		<a href={{ asset('./proj/about')}} >Om</a>
		<a href={{ asset('./proj/reset')}} >Återställ Databas</a>
	</div>
	<div class="row">
		<div class="leftcolumn">
			<div class="card">

				<div class="wrapper">
{% for e in 0..4 %}

{% for i in 1..5 %}
<div class="box">
{% if horisontal[i][e] is defined %}


{% if horisontal[i][e].suit == "&hearts;" %}
	<p>{{horisontal[i][e].rank}}
		&#10084;&#65039;</p>


{% endif %}

{% if horisontal[i][e].suit == "&diams;" %}

	<p>&diams;{{horisontal[i][e].rank}}</p>

{% endif %}

{% if horisontal[i][e].suit == "&clubs;" %}


	<p>&clubs;{{horisontal[i][e].rank}}</p>


{% endif %}

{% if horisontal[i][e].suit == "&spades;" %}

	<p>&spades;{{horisontal[i][e].rank}}</p>

{% endif %}




{% endif %}

</div>
{% endfor %}
{% endfor %}


{% for item in pointsHorisental %}
<div style="padding-top: 40px; color: white;">{{item}}</div>


{% endfor %}
<form  method="POST" action={{asset('./proj/playpoker')}}>
<div>
	<input required type="radio" id="rad1" name="fav_language" value="1">
	<label for="rad1">rad1</label><br>
</div>

	<input required type="radio" id="rad2" name="fav_language" value="2">
	<label for="rad2">rad2</label><br>
	
	<input required type="radio" id="rad3" name="fav_language" value="3">
	<label for="rad3">rad3</label><br>
	
	<input required type="radio" id="rad4" name="fav_language" value="4">
	<label for="rad4">rad4</label><br>
	
	<input required type="radio" id="rad5" name="fav_language" value="5">
	<label for="rad5">rad5</label>
	
	<input type="submit" value="submit">
<div style="color: white;">

	<p>
<strong>Total Points:
	{{totalPoints}}</strong>
</p></div>


</form>

				</div>
<div class="pointsUnderCards" style="color: white;">


{% for i in pointsVertical %}
	
<div>{{i}}</div>


{% endfor %}

</div>


		<hr>
<div class="wrapper">
	<div class="box">
		{% if oneCard.suit == "&hearts;" %}
			<p>{{oneCard.rank}}
				&#10084;&#65039;</p>
		{% endif %}

		{% if oneCard.suit == "&diams;" %}

			<p>&diams;{{oneCard.rank}}</p>

		{% endif %}

		{% if oneCard.suit == "&clubs;" %}


			<p>&clubs;{{oneCard.rank}}</p>


		{% endif %}

		{% if oneCard.suit == "&spades;" %}

			<p>&spades;{{oneCard.rank}}</p>

		{% endif %}

	</div>
</div>

			</div>
		</div>
		<div class="rightcolumn">
			<div class="card">
				<h2>Highscore</h2>
<div class="fakeimg" style="height:400px;">
	<table>
		<tr>
			<th>Spelar Namn</th>
			<th>Poäng</th>
		</tr>
		{% for item in json %}

			<tr>
				<td>{{item.playername}}</td>
				<td>{{item.points}}</td>
			</tr>
		{% endfor %}

	</table>

</div>
			</div>
			
		</div>
	</div>

<div class="footer">
	<div style="flex: 1 1 0; width: 0px;    flex-direction: column;
			display: flex; border-right: 1px solid white;">


		<a style="color:white;" href={{ asset('./proj')}}>Start</a>

		<a style="color:white;" href={{ asset('./proj/play')}}>Spela Poker Solitaire</a>

		<a style="color:white;" href={{ asset('./proj/about')}}>Om</a>

		<a style="color:white;" href={{ asset('./proj/reset')}}>Återställ Databas</a>


	</div>
	<div style="flex: 1 1 0; width: 0px;">
		<div style="    display: flex;
						    text-align: center;
						    /* background: #040404; */
						    /* margin-top: 20px; */
						    align-items: center;
						    justify-content: center;
							flex-direction: column;
							border-right: 1px solid white;">


			<div>

				<a style="color:white;" href="https://github.com/dbwebb-se/mvc/">
					<i class="fi-xnsuxl-github fi-2x icon1"></i>
				</a>
			</div>
			<p>Github</p>
			<div>

				<a style="color:white;" href="https://dbwebb.se/kurser/mvc">
					<i class="fi-cnluxl-home-small fi-2x icon2"></i>
				</a>
			</div>
			<p>Dbwebb</p>

		</div>


	</div>
	<div style="flex: 1 1 0; width: 0px;">

		<p>Copyright &copy; Magnus</p>


	</div>

</div>


</body>

</html>
